<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><span>ESTE PROYECTO FUE REALIZADO CON CARIÑO DE PARTE DE LOS ALUMNOS DEL PROYECTO "HOMEND" INTEGRANTES: </span></h1>

  <h3><span>Para el Ing. Angel Sullon</span></h3>
    <ul>
    <li>Zapana Choque Joel</li>
    <Pli>Quispe Aquino betsaida</li>
      <li>Paja Pacori Cesia</li>
    <Pli>Mamani Chambi Angie Mireya</li>
      <li>Cuentas Chavez Edwin Fabian</li>
    <Pli>Espinoza Choqque Cristhian</li>
      <li>Choque Bentura Alex Roel</li>
      </ul>
  
</body>
</html>
